.header {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-between;
    background-color: rgba(255, 255, 183, 0.568);
    padding-left: 16px;
    padding-right: 16px;
}
