@import "styles/colors";

.dashboard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.add-button {
    cursor: pointer;

    &:hover {
        background: $icon-background-color;
    }

    .icon {
        color: green;
        margin-left: auto;
        margin-right: auto;
    }
}
