@import "styles/colors";

.dashboard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.add-button {
    position: absolute;
    font-size: 64px;
    bottom: 24px;
    right: 48px;
    cursor: pointer;

    &:hover {
        background: $icon-background-color;
    }
}
